.menu-btn {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

/* .menu.active {
  transform: translateX(0);
} */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

@media (max-width: 1024px) {
  
  .menu-btn {
    display: block;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 26.25rem;
    height: 50.5rem;
    padding: 15px;
    background: white;
    border-radius: 2rem;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .nav.active {
    transform: translateX(0);
  }
  .menu-btn {
    margin-right: auto;
  }
  .nav__ul {
    padding: 10.62rem 6.63rem 14.31rem 3.13rem;
    flex-direction: column;
    gap: 3.75rem;
  }
  .ul__item {
    font-size: 1.5rem;
  }
  .logo {
    margin-right: 0;
  }
  .about__content {
    grid-template-areas: "a"
  }
  .left-card {
    min-height: 40rem;
  }
}
